body {		
	background-image: url("../images/grasspole.jpg"); 
	/*	background-image: url("../images/poolwater.jpg"); */
    background-repeat: no-repeat;
    /*background-size: auto|length|cover|contain|initial|inherit; */
    /*background-size: cover; */
    background-size: 1608px 775px;  

}	

h1 {
	text-align: center;
	font-size: 65px;
	text-shadow: 4px 4px #000;
	color: #FFF;
	margin-top: 20px;
}

h5 {
	text-align: center;
	text-shadow: 4px 4px #000;
	color: #FFF;
	margin-top: -50px;
}

button,  form, input {
			margin: 10px;
}

.imageClass {
	height: 160px;
	width:  211px;
	margin: 5px;
	float:center;
}

#enterText {
	color: #fff;
	text-shadow: 2px 2px #000;
}


